{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}


    {%  if user.is_authenticated %}
        Тут добавляем маршрут
    {% else %}
        <div class="form-group">
            <form id="login_form" method="post" action="/login/">
                {% csrf_token %}

                <label class="col-form-label col-form-label-lg" for="inputLarge">Имя</label>
                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge" value="ilya" name="username">

                <label class="col-form-label col-form-label-lg" for="inputLarge">Пароль</label>
                <input class="form-control form-control-lg" type="password" placeholder=".form-control-lg" name="password" id="inputLarge" value="8qsip937" name="password">
                <br>
                <button type="submit" class="btn btn-primary">Войти</button>

            </form>
        </div>

    {% endif %}

{% endblock %}