Создать запрос на ремонт
<br><br>

Состояние планшета перед рейсом
<br><br>


ID планшета: {{ rs.get_tablet.tablet.id }}
<br>
Модель планшета: {{ rs.get_tablet.tablet.model }}
<br>
Баркод планшета: {{ rs.get_tablet.tablet.internal_code }}
<br>
Серийный номер: {{ rs.get_tablet.tablet.serial_number }}
<br>
Cостояние: {% for q in qualities %} {{ q.status }}, {% endfor %}
<br><br>
Состояние планшета после рейса


<div class="form-group">

    <form action="/doc_create_request/{{ sheet_id }}/{{ rs.get_tablet.tablet.id }}\" method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Создать запрос">


    </form>

</div>


