{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}

    <h5>Черновики</h5>
    <table class="table table-hover">
        <thead>
        <tr class="info">
            <th scope="col">№</th>
            <th scope="col">Водитель</th>
            <th scope="col">Время отправки</th>
            <th scope="col">Авто</th>
            <th scope="col">Оформление</th>
            <th scope="col">Удаление</th>
            <th scope="col">Открыть рейс</th>
        </tr>
        </thead>
        <tbody>
        {% for dr in drafts_roadsheets %}
            <tr class="table-primary">
                <th scope="row"><a href="/roadsheet/{{ dr.id }}/" onclick="window_open(href, 550, 600); return false;">{{ dr.id }}</a></th>
                <td>{{ dr.driver }}</td>
                <td>{{ dr.execution_datetime}}</td>
                <td>{{ dr.car}}</td>
                <td><a href="/print/{{ dr.id }}" onclick="window_open(href, 800, 900); return false;">Печать</a></td>
                <td><a href="/roadsheet_delete/{{ dr.id }}">Отменить</a></td>
                <td><a href="/roadsheet_open/{{ dr.id }}" onClick="return confirm('Открыть рейс?')">Поехали </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <h5>Список активных рейсов</h5>

    <table class="table table-hover">
        <thead>
        <tr class="info">
            <th scope="col">№</th>
            <th scope="col">Водитель</th>
            <th scope="col">Время отправки</th>
            <th scope="col">Авто</th>
            <th scope="col">Планшет</th>
            <th scope="col">Что-нибудь</th>
            <th scope="col">Закрытие</th>
        </tr>
        </thead>
        <tbody>
        {% for r in roadsheets %}
            <tr class="table-primary">
                <th scope="row">{{ r.id }}</th>
                <td>{{ r.driver }}</td>
                <td>{{ r.execution_timestamp| date:"d.m.Y H:m"}}</td>
                <td>{{ r.car}}</td>
                <td>
                    {% if  r.get_tablet is None%}
                        <a href="/doc_add_tmc/{{ r.id }}/" onclick="window_open(href, 300, 300); return false;">Выдать</a>
                    {% else %}
                        <a href="/doc_add_tmc/{{ r.id }}/" onclick="window_open(href, 300, 300); return false;">{{ r.get_tablet.tablet }}</a>
                    {% endif %}
                </td>
                <td></td>
                <td>

                    <a href="/roadsheet_close/{{ r.id }}/" onclick="window_open(href, 500, 500); return false;">Закрыть</a>



                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <h5>Закрытые сегодня рейсы</h5>
    <table class="table table-hover">
        <thead>
        <tr class="info">
            <th scope="col">№</th>
            <th scope="col">Водитель</th>
            <th scope="col">Время отправки</th>
            <th scope="col">Авто</th>
            <th scope="col">Планшет</th>
            <th scope="col">Время прибытия</th>

        </tr>
        </thead>
        <tbody>
        {% for r in closed_roadsheets %}
            <tr class="table-primary">
                <th scope="row">{{ r.id }}</th>
                <td>{{ r.driver }}</td>
                <td>{{ r.execution_timestamp| date:"d.m.Y H:m" }}</td>
                <td>{{ r.car }}</td>
                <td>{{ r.get_tablet.tablet }}</td>
                <td>{{ r.closed_timestamp| date:"d.m.Y H:m"}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

{% block info %}
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Сервисмену</div>
        <div class="card-body">
            <a href="/doc_part_tablet_sim/">Комплектация планшетов</a>
            <br>
            <a href="/doc_quality_tablet/">Состояние планшетов</a>

        </div>
    </div>

    <div class="card bg-light mb-3" style="max-width: 40rem;">
        <div class="card-header">Заявки на ремонт</div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr class="info">
                    <th scope="col">№</th>
                    <th scope="col">Планшет</th>
                    <th scope="col">Время заявки</th>
                    <th scope="col">Получен с рейса</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                {% for rr in repair_requests %}
                    <tr class="table-primary">
                        <td>{{ rr.id }}</td>
                        <td>{{ rr.tablet }}</td>
                        <td>{{ rr.timestamp| date:"d.m.Y H:m" }}</td>
                        <td>{{ rr.roadsheet }}</td>
                        <td>{{ rr.comment }}</td>
                        <td>В ремонт</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}