{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    {%  if user.is_authenticated %}
        <h1>Черновики</h1>
        <table class="table table-hover">
            <thead>
            <tr class="info">
                <th scope="col">№</th>
                <th scope="col">Водитель</th>
                <th scope="col">Время отправки</th>
                <th scope="col">Авто</th>
                <th scope="col">Таблетка</th>
                <th scope="col">Оформление</th>
                <th scope="col">Удаление</th>
                <th scope="col">Открыть рейс</th>
            </tr>
            </thead>
            <tbody>
            {% for dr in drafts_roadsheets %}
                <tr class="table-primary">
                    <th scope="row"><a href="/edit/{{ dr.id }}">{{ dr.id }}</a></th>
                    <td>{{ dr.driver }}</td>
                    <td>{{ dr.execution_datetime}}</td>
                    <td>{{ dr.car}}</td>
                    <td>{{ dr.tablet}}</td>
                    <td><a href="/print/{{ dr.id }}">Печать листа</a></td>
                    <td><a href="/delete/{{ dr.id }}">Отменить</a></td>
                    <td><a href="/begin_route/{{ dr.id }}">Поехали</a></td>


                </tr>
            {% endfor %}
            </tbody>
        </table>


        <h1>Список активных рейсов</h1>
        <table class="table table-hover">
            <thead>
            <tr class="info">
                <th scope="col">№</th>
                <th scope="col">Водитель</th>
                <th scope="col">Время отправки</th>
                <th scope="col">Авто</th>
                <th scope="col">Таблетка</th>
                <th scope="col">Что-нибудь</th>
                <th scope="col">Закрытие</th>
            </tr>
            </thead>
            <tbody>
            {% for r in roadsheets %}
                <tr class="table-primary">
                    <th scope="row">{{ r.id }}</th>
                    <td>{{ r.driver }}</td>
                    <td>{{ r.execution_datetime}}</td>
                    <td>{{ r.car}}</td>
                    <td>{{ r.tablet}} - {{ r.tablet.model }}</td>
                    <td></td>
                    <td><a href="/close_route/{{ r.id }}/">Закрыть</a></td>


                </tr>
            {% endfor %}
            </tbody>
        </table>


        <h1>Закрытые сегодня рейсы</h1>
        <table class="table table-hover">
            <thead>
            <tr class="info">
                <th scope="col">№</th>
                <th scope="col">Водитель</th>
                <th scope="col">Время отправки</th>
                <th scope="col">Авто</th>
                <th scope="col">Таблетка</th>
                <th scope="col">Время прибытия</th>

            </tr>
            </thead>
            <tbody>
            {% for r in closed_roadsheets %}
                <tr class="table-primary">
                    <th scope="row">{{ r.id }}</th>
                    <td>{{ r.driver }}</td>
                    <td>{{ r.execution_datetime}}</td>
                    <td>{{ r.car}}</td>
                    <td>{{ r.tablet}}</td>
                    <td>{{ r.closed_datetime}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% else %}
        <div class="form-group">
            <form id="login_form" method="post" action="/login/">
                {% csrf_token %}

                <label class="col-form-label col-form-label-lg" for="inputLarge">Имя</label>
                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge" value="" name="username">

                <label class="col-form-label col-form-label-lg" for="inputLarge">Пароль</label>
                <input class="form-control form-control-lg" type="password" placeholder=".form-control-lg" name="password" value="" id="inputLarge" name="password">
                <br>
                <button type="submit" class="btn btn-primary">Войти</button>

            </form>
        </div>

    {% endif %}

{% endblock %}

{% block info %}
    {% if perms.roadsheet.add_roadsheets %}
    <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Оператору</div>
        <div class="card-body">
            <p class="card-text">Информация для оператора</p>
        </div>
    </div>
    {% endif %}

    {% if perms.roadsheet.add_tablets %}
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Сервисмену</div>
        <div class="card-body">
            <a href="/doc_part_tablet_sim/">Комплектация планшетов</a>
            <br>
            <a href="/doc_quality_tablet/">Состояние планшетов</a>

        </div>
    </div>
    {% endif %}

{% endblock %}