
{%  if user.is_authenticated %}

    <html>
    <head>
    </head>

    <body>

    <table border=1 cellspacing=0 cellpadding=0 width=0>
        <tr>
            <td width=700 colspan=3> ПУТЕВОЙ ЛИСТ № {{ s.id }} от {{ s.creation_timestamp|date:'d.m.Y' }}<br>Легкового такси </td>
        </tr>
        <tr>
            <td width=300>Организация:</td>
            <td width=400 colspan=2> ИНН {{ org.inn }}, {{ org.name }}, {{ org.address }}, тел. {{ org.telephone }}</td>
        </tr>
        <tr>
            <td width=300>Марка автомобиля:</td>
            <td width=400 colspan=2>{{ s.car.car_model }} </td>
        </tr>
        <tr>
            <td width=300>Государственный знак:</td>
            <td width=400 colspan=2>{{ s.car.reg_number }}</td>
        </tr>
        <tr>
            <td width=300>Бортовой номер:</td>
            <td width=400 colspan=2>{{ s.car.board_number }}</td>
        </tr>
        <tr>
            <td width=300>Водитель:</td>
            <td width=400 colspan=2>{{ s.driver.first_name }} {{ s.driver.middle_name }} {{ s.driver.last_name }}</td>
        </tr>
        <tr >
            <td width=300>Номер водительского удостоверения:</td>
            <td width=400 colspan=2>Удостоверение №{{ s.driver.license_number }}</br>Категория - {% for c in cats %} {{ c.name }} {% endfor %}  </td>
        </tr>
        <tr>
            <td width=300>Предрейсовый медицинский осмотр пройден</td>
            <td width=200>{{ now | date:"d.m.Y"}}</td>
            <td width=200>МП</td>
        </tr>
        <tr>
            <td width=700 colspan=3>Автомобиль прошёл профилактическое обслуживание согласно графику технического обслуживания.</td>
        </tr>
        <tr>
            <td width=300>Адрес места прохождения предрейсового технического осмотра</td>
            <td width=400 colspan=2>{{ org.service_address }}</td>
        </tr>
        <tr>
            <td width=300>Выезд разрешён:Начальник колонны (механик)</td>
            <td width=200>{{ org.technical_chief }}</td>
            <td width=200>{{ now | date:"d.m.Y"}}</td>
        </tr>
        <tr>
            <td width=300>Время выезда на линию</td>
            <td width=200>по графику 8-00</td>
            <td width=200>фактически 8-00</td>
        </tr>
        <tr>
            <td width=300>Время возвращения в парк</td>
            <td width=200>по графику 8-00</td>
            <td width=200>фактически 8-00</td>
        </tr>
        <tr>
            <td width=300>Диспетчер:</td>
            <td width=200>{{ user.get_full_name }}</td>
            <td width=200>{{ now | date:"d.m.Y"}}</td>
        </tr>
        <tr>
            <td width=300>Механик:</td>
            <td width=200>{{ org.mechanic_name }}</td>
            <td width=200>{{ now | date:"d.m.Y"}}</td>
        </tr>
        <tr>
            <td width=300>Водитель:</td>
            <td width=200>{{ s.driver }}</td>
            <td width=200>{{ now | date:"d.m.Y"}}</td>
        </tr>
    </table>

    </body>
    </html>

















{% else %}
    Пользователь не авторизован

{% endif %}
