

{% block content %}
{% load bootstrap4 %}


    <div class="modal-header">
        <h5 class="modal-title">Формирование путевого листа</h5>
        <button type="button" class="close" onclick="show('none',0)" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="form-group">

        <form action="/roadsheet/{{ sheet_id }}/" method="POST">
            {% csrf_token %}
            <table>
                {% bootstrap_form form %}
            </table>
            <div class="modal-footer">

                <input class="btn btn-primary" type="submit" value="Сохранить">
            </div>
        </form>
    </div>


{% endblock %}