<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} TAXI</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/sandstone/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <script src="{% static "taxi.js" %} "></script>




</head>

<style>

</style>


<body>
{%  if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="\#">ТАКСИ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/roadsheet/" onclick="window_open(href, 550, 600); return false;">Новый рейс<span class="sr-only" >(current)</span></a>




                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Все рейсы за неделю</a>
                </li>


            </ul>
            <span class="badge badge-primary">Версия: v.0.1</span>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Бортовой номер">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>

            </form>

            <a class="nav-link" href="\admin">Админка</a>
            <a class="nav-link" href="\logout">Выйти</a>






        </div>
    </nav>


    <div class="row">
        <div class="col-xs-120 col-sm-1">

        </div>
        <div class="col-xs-120 col-sm-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-xs-120 col-sm-3">

            {% block info%}{% endblock %}
        </div>
    </div>

{% else %}
    <div class="form-group">
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}

            <label class="col-form-label col-form-label-lg" for="inputLarge">Имя</label>
            <input class="form-control form-control-lg" type="text" placeholder="username" id="inputLarge" value="" name="username">

            <label class="col-form-label col-form-label-lg" for="inputLarge">Пароль</label>
            <input class="form-control form-control-lg" type="password" placeholder="password" name="password" value="" id="inputLarge" name="password">
            <br>
            <button type="submit" class="btn btn-primary">Войти</button>

        </form>
    </div>

{% endif %}

</body>
</html>
