{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} TAXI</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/sandstone/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "taxi.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "taxi.css" %} " />
</head>

<body>
{%  if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                {% if perms.op %}
                    <li class="nav-item">
                        <a class="nav-link" onclick="javascript:document.location.href='\\'">Все рейсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="show('block', 'roadsheet')">Новый рейс</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" onclick="show('block', 'doc_add_tmc')">Выдать ТМЦ</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" onclick="show('block', 'doc_create_request')">Создать запрос</a>
                    </li>

                {% endif %}
                {% if perms.op %}
                    <a class="nav-link" href="/rep_osago/">ОСАГО</a>
                {% endif %}
                {% if perms.op %}
                    <a class="nav-link" href="/rep_to/">TO</a>
                {% endif %}

            </ul>
            <span class="badge badge-primary">Версия: v.0.5</span>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Бортовой номер">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>

            </form>

            {% if perms.service %}
                <a class="nav-link" href="\admin">Админка</a>
            {% endif %}
            <a class="nav-link" href="\logout" onclick="window_open(href, 500, 500); return false;">Выйти</a>


        </div>
    </nav>



    {% if perms.op %}
        {% block content %}{% endblock %}










    {% endif %}


    {% if perms.service %}
        {% block info%}{% endblock %}
    {% endif %}

    <div  id="wrap"></div>

    <div id="window" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="content">

                    </div>
                </div>

            </div>
        </div>
    </div>
{% else %}
    <div class="form-group">
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}

            <label class="col-form-label col-form-label-lg" for="inputLarge">Имя</label>
            <input class="form-control form-control-lg" type="text" placeholder="username" id="inputLarge" value="" name="username">

            <label class="col-form-label col-form-label-lg" for="inputLarge">Пароль</label>
            <input class="form-control form-control-lg" type="password" placeholder="password" name="password" value="" id="inputLarge" name="password">
            <br>
            <button type="submit" class="btn btn-primary">Войти</button>

        </form>
    </div>

{% endif %}






</body>
</html>




